In [1]:
import sys
import os

sys.path.append(os.getcwd())
from utils import *

In [2]:
zero_curve= pd.read_csv("data/zero_curve.csv")

In [3]:
zero_curve["Forward Rate"] = zero_curve.apply(
    lambda row: Instantaneous_Forward_Rate(dt.date.today(), row['Tenor'], zero_curve["Df"], zero_curve["T"]), axis=1
)

In [4]:
zero_curve

   Ticker    Maturity  Yield          T        Df      Tenor  Forward Rate
0   US01M  2025-03-25  4.321   0.079452  0.996645   0.083333      0.025970
1   US02M  2025-04-22  4.322   0.156164  0.993414   0.166667      0.040393
2   US03M  2025-05-22  4.307   0.238356  0.989999   0.250000      0.031809
3   US04M  2025-06-24  4.321   0.328767  0.986189   0.333333      0.043543
4   US06M  2025-08-21  4.338   0.487671  0.979504   0.500000      0.028460
..    ...         ...    ...        ...       ...        ...           ...
95  ES09Y  2034-04-30  3.044   9.183562  0.759286   9.000000      0.027248
96  ES10Y  2035-04-30  3.195  10.183562  0.725949  10.000000      0.028262
97  ES15Y  2039-07-30  3.434  14.435616  0.614223  15.000000      0.056496
98  ES20Y  2043-07-30  3.607  18.438356  0.520296  20.000000      0.075496
99  ES25Y  2050-10-31  3.659  25.698630  0.397119  25.000000      0.073043

[100 rows x 7 columns]

In [5]:
notional = 1_000_000  # $1 million
reset_dates = [dt.date(2025, 1, 1), dt.date(2025, 7, 1), dt.date(2026, 1, 1), dt.date(2026, 7, 1)]  # Semi-annual resets
floating_spread = 0.002  
day_count_convention = "30/360"

#Filter forward rates for USD
forward_curve_usd = zero_curve[zero_curve["Ticker"].str.startswith("US")]

In [8]:
floating_cashflows_df = floatingLegCashflows(
    notional, forward_curve_usd, reset_dates, floating_spread=floating_spread, day_count_convention=day_count_convention
)
floating_cashflows_df

T1: -0.14520547945205478
Interpolated Forward Rate: 0.00025969954854313134
Computed Cashflow: 1129.8497742715658
T1: 0.3506849315068493
Interpolated Forward Rate: 0.00041462634260048924
Computed Cashflow: 1207.3131713002447
T1: 0.8547945205479452
Interpolated Forward Rate: 0.00038124734194916964
Computed Cashflow: 1190.623670974585

  Payment Date  Floating Cashflow  Forward Rate
0   2025-07-01        1129.849774      0.000260
1   2026-01-01        1207.313171      0.000415
2   2026-07-01        1190.623671      0.000381

In [9]:
forward_curve_usd

   Ticker    Maturity  Yield          T        Df      Tenor  Forward Rate
0   US01M  2025-03-25  4.321   0.079452  0.996645   0.083333      0.025970
1   US02M  2025-04-22  4.322   0.156164  0.993414   0.166667      0.040393
2   US03M  2025-05-22  4.307   0.238356  0.989999   0.250000      0.031809
3   US04M  2025-06-24  4.321   0.328767  0.986189   0.333333      0.043543
4   US06M  2025-08-21  4.338   0.487671  0.979504   0.500000      0.028460
5   US01Y  2026-02-19  4.168   0.986301  0.960525   1.000000      0.041587
6   US02Y  2027-01-31  4.198   1.934247  0.923540   2.000000      0.023471
7   US03Y  2028-02-15  4.207   2.975342  0.884607   3.000000      0.021494
8   US05Y  2030-01-31  4.269   4.936986  0.813520   5.000000      0.026062
9   US07Y  2032-01-31  4.355   6.936986  0.744001   7.000000      0.025039
10  US10Y  2035-02-15  4.431   9.980822  0.648734  10.000000      0.028262
11  US20Y  2045-02-15  4.711  19.989041  0.398449  20.000000      0.075496
12  US30Y  2055-02-15  4.680  29.994521  0.253628  30.000000      0.097338